body, html {
  background-color: #282c34;
}

.container {
  max-width: 1000px;
}

#dropzone {
  min-height: 100vh;
}

#drop-indicator {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0,0,0,.75);

  justify-items: center;
  align-items: center;

  div {
    text-align: center;
    width: 100%;
  }
}

.Streams {
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

a {
  color: #ff98cb;
}

.form-check-input:checked {
  background-color: #964fff;
  border-color: #964fff;
}

.badge {
  margin-right: 0.5em;
  margin-bottom: 0.25em;
  background-color: #464444;
  color: #d8d8d8;
  font-size: .7em;
  font-weight: 500;

  &.bg-warning {
    color: white;
    background-color: #98772e !important;
  }

  &.bg-game {
    color: white;
    background-color: #2e4c98 !important;
  }
}

.display-opts {
  padding: 1em 0 0;

  label {
    color: #e8e8e8;
    display: block;
    padding: 0 0.5em;
    font-size: 0.85em;
  }

  & > div.opt-labels {
    padding: 0;
    justify-content: space-between;

    code {
      color: white;
      width: 1.25em;
      display: inline-block;
      text-align: right;
      white-space: nowrap;
    }
  }

  & > div {
    display: flex;
    padding: 0 0.5em;
    align-items: center;

    & > div {
      padding-right: 1em;
    }

    .form-check {
      display: inline-block;

      label {
        display: inline-block;
      }
    }
  }

  .refresh {
    padding: 0;

    .btn {
      background-color: #9147ff;
      border-color: #9147ff;
      margin: 0;
      font-size: 1.5em;
      padding: 0.02rem 0.5rem;

      &:hover {
        background-color: lighten(#9147ff, 10%);
        border-color: lighten(#9147ff, 10%);
      }
    }
  }
}

.stream-sort {
  padding: 1em 0 0.5em;
  label {
    color: #e8e8e8;
    display: block;
    padding: 0 0.5em;
    font-size: 0.85em;
  }

  .btn {
    padding: 0.25em 0.5em;
    font-size: 0.9em;
    font-weight: 500;
    color: #bf94ff;
    text-decoration: none;
  }
}


.alert a {
  color: #9147ff;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;

  img {
    height: 2em;
    margin-right: 0.5em;
  }

  .nav-link {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent; // prevent layout shift when active border is applied

    &.active {
      border-bottom-color: white;
    }
    //padding: var(--bs-nav-link-padding-y)) calc(2*var(--bs-nav-link-padding-x));
  }

  .navbar-collapse {
    min-width: 0;
    max-width: 100%;

    .nav-item.dropdown {
      min-width: 0;
      max-width: 100%;

      a {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

// Responsive layout tweaks for the Custom Event modal manage list
.custom-event-url {
  .event-title {
    min-width: 0; // allow ellipsis if needed
  }

  .event-actions {
    width: 100%;
  }

  @media (min-width: 576px) {
    .event-actions {
      width: auto;
      margin-left: .75rem;
    }
  }
}

.partner {
  margin-right: 0.25em;
  color: #bf94ff;
}

.stream-list {
  margin-bottom: calc(var(--bs-gutter-x) * 0.5);

  border-top: solid 1px #4b4d55;

  .stream {
    border-bottom: solid 1px #4b4d55;
    padding: 0.5em;
    cursor: pointer;

    &:hover {
      background-color: darken(#282c34, 15%);
    }

    .info-container {
      display: flex;
      align-items: center;
      min-height: 3em;

      .profile-container {
        padding-right: 0.5em;
        align-self: baseline;

        img {
          height: auto;
          width: 3em;
        }
      }

      .stream-info {
        flex-grow: 1;
        max-width: 100%;
        overflow: hidden;
      }
    }

    .whodis .d-flex {
      min-width: 0;
    }

    .viewers {
      min-width: 3em;
      display: inline-block;
      text-align: left;

      i {
        color: #d00101;
      }
    }

    .row {
      margin-bottom: 0.25em;
    }

    .participation {
      white-space: nowrap;
    }

    .uptime {
      font-size: 0.9rem;
      color: #e8e8e8;
      min-width: 5em;
      display: inline-block;
      text-align: right;

      span {
        font-size: 1rem;
        color: white;
        margin-right: 1px;
      }
    }

    .user-name {
      font-weight: 500;
      font-size: max(0.85em, min(1em, 4vw));
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 100%;
      overflow: hidden;
    }

    .title {
      font-size: .9rem;
      color: #e8e8e8;
      line-height: 1.2rem;
      max-height: 2.4rem;
      margin-bottom: .25rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .tags {
      max-height: 3.5rem;
      overflow: hidden;
    }

  }

}

.stream-modal {
  --bs-border-color: #4d505b;

  .modal-content {
    color: white;
    background-color: lighten(#282c34, 1%);
    border: solid 1px var(--bs-border-color);
    box-shadow: 0 0 2em #000000;
  }

  .modal-header {
    flex-wrap: nowrap;

    .modal-title{
      align-items: center;
      //display: flex;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .btn-close {
      filter: invert(1);
    }

    .copy-channel-button {
      color: #8a8e97;
    }
  }

  img {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }

  .row {
    margin-bottom: .75em;
  }

  .viewers {
    min-width: 3em;
    display: inline-block;
    text-align: left;

    i {
      color: #d00101;
    }
  }

  .participation {
    white-space: nowrap;
  }

  .uptime {
    font-size: 0.9rem;
    color: #e8e8e8;
    min-width: 5em;
    display: inline-block;
    text-align: right;

    span {
      font-size: 1rem;
      color: white;
      margin-right: 1px;
    }
  }

  .channel-about {
    label {
      font-weight: 500;
    }
    div {
      font-size: .9em;
    }
  }

  .chat-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      color: #bf94ff;
    }
  }

  textarea.form-control,
  input.form-control {
    background-color: #474b4f;
    color: white;
    font-size: .9em;

    &:focus {
      color: white;
      border-color: #bf94ff;
    }
  }

}

.rainbow-text {
  background-image: repeating-linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red, violet);
  text-align: center;
  background-size: 800% 800%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 24px;
  animation: rainbow 8s ease infinite;
  text-: 0 0 white;
}

.qr-container {
  display: flex;
  flex-direction: column;

  canvas {
    width: calc(min(100%, min(60vw, 60vh))) !important;
    height: auto !important;
    align-self: center;
  }
}

@keyframes rainbow {
  0% {
    background-position: 0 50%
  }

  50% {
    background-position: 100% 25%
  }

  100% {
    background-position: 0 50%
  }
}
